<h1>Add an artwork</h1>

<form>
  <div class="form-group">
    <label for="artworkName">Name of the artwork:</label>
    {{input id="artworkName" class="form-control" value=artworkName}}
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    {{textarea id="description" class="form-control" rows="10" value=description}}
  </div>

  <div class="form-group">
    <label for="artworkImageURL">Add an image of this artwork:</label>
    {{input id="artworkImageURL" class="form-control" value=artworkImageURL}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>

</form>
